@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello ARM SourceControls Resource</h1>

Welcome to your new app. @DateTime.Now.ToString("dddd MMMM dd yyyy hh:mm:ss.ff tt (zzz)")

<ol>
    <li>
    Demonstrate sourcecontrols feature of app service web site.
    </li>
    <li>Automatically deploy this app to azure app service web site when web site is created.</li>
</ol>


